:root {
  --green: #548531;
  --turquoise: #81bbc4;
  --grey: #6f8d9f;
  --beige: #fbe6a6;
  --blue: #3f7d87;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  background-color: var(--blue);
}

header {
  background-color: var(--turquoise);
  border: 2px solid black;
  text-align: center;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

li {
  list-style: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--turquoise);
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  height: 200px;
  width: 400px;
  margin-top: 10%;
  position: relative;
  background-color: var(--green);
  border-radius: 4%;
}

.Card__bookmark {
  position: relative;
  top: -40%;
  left: 45%;
}

.Card__HashtagList {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  background-color: var(--beige);
}

.Profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.Profile__Picture {
  border: 2px solid black;
  border-radius: 100%;
}

/*img[alt="profile icon"] {
  height: 35px;
  position: relative;
  top: 4px;
}*/

.dark {
  background-color: rgb(50, 51, 58);
  color: white;
}
