.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0.35rem solid var(--black);
  height: 12rem;
  width: 18rem;
  margin-top: 2%;
  margin-bottom: 10%;
  background-color: var(--bg-card);
  border-radius: 51px;
  filter: drop-shadow(1vw 1vw 2vw var(--turquoise));
}

.card:hover {
  transform: scale(1.03);
}

.card__bookmark {
  position: absolute;
  top: -18px;
  right: -40px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.card__bookmark--clicked {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
  cursor: pointer;
}

.card__question {
  text-align: center;
}

.card__hashtagList {
  align-self: flex-start;
  bottom: 0;
  left: -1.5rem;
  display: flex;
  gap: 1px;
}

.card__hashtag {
  border: 2px solid var(--black);
  background-color: var(--lightgreen);
  border-radius: 4px;
  font-size: 0.7rem;
  width: 4rem;
}

.card__button {
  border-radius: 9px;
  background-color: var(--turquoise);
  width: 9rem;
  height: 30px;
  font-weight: bold;
  font-size: 0.8rem;
  top: -3rem;
  cursor: pointer;
  transition: 0.4 linear;
}

.card__button:hover {
  transform: scale(1.2);
}

.card__answer {
  top: -50px;
  text-align: center;
}

.card__answer--active {
  display: block;
}
