.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.35rem solid var(--black);
  height: 12rem;
  width: 18rem;
  margin-top: 4%;
  background-color: var(--bg-card);
  border-radius: 51px;
  filter: drop-shadow(1vw 1vw 2vw var(--turquoise));
  position: relative;
}

.card:hover {
  transform: scale(1.03);
}

.card__bookmark {
  position: relative;
  top: -6rem;
  left: 6.5rem;
  height: 50px;
}

.card__question {
  text-align: center;
}

.card__hashtagList {
  position: absolute;
  bottom: 0;
  left: -1.5rem;
  display: flex;
  gap: 1px;
}

.card__hashtag {
  border: 2px solid var(--black);
  background-color: var(--lightgreen);
  border-radius: 4px;
  font-size: 0.7rem;
  width: 4rem;
}

.card--html,
.card--css {
  width: 3rem;
}

.card__button {
  border-radius: 9px;
  background-color: var(--turquoise);
  width: 11rem;
  height: 40px;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
  top: -3rem;
}
