/*
- Add margin above footer
- bookmark
- add styling to profile
  - img margin top
*/

:root {
  --green: #548531;
  --turquoise: #81bbc4;
  --grey: #6f8d9f;
  --beige: #fbe6a6;
  --blue: #3f7d87;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  background-color: var(--blue);
}

header {
  background-color: var(--turquoise);
  border: 2px solid black;
  text-align: center;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.dark {
  background-color: rgb(50, 51, 58);
  color: white;
}
